.login-area {
    padding-top: 200px;
}
.form-area {
    background-color: #EDEDED;
    width: 400px;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
    box-shadow:0 1px 0 #cfcfcf;
    margin: 0 auto;
}
.title { 
    text-align: center;
    font-size:22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.enter-button-area {
    text-align: center;
    font-size:18px;
}